@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
  format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
}

.App{
  font-size: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: -45px;
  margin-top: 40px;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  padding-top: 5px;
  font-size: 16px;
  height: 40px;
}

a:link {
  padding: 10px;
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #599AD2;
  padding: 10px;
  background-color: transparent;
  text-decoration: underline;
}

 button {
  font-size: calc(10px + 2vmin);
  border: none;
  background: none;
  outline: none;
  color: white;
  cursor: pointer;
}

#breakInputTimer{
  color: #599AD2;
}

#pomInputTimer{
  /* color: #D19966; */
  color:#E06C75;
}

.InputButtons{
  text-align: center;
}

.btns {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.plusminus{
  display: inline-block;
  color: #828892
}

.AppTitle{
  font-size: 28px;
  line-height: 10px;
}

.ButtonTitle {
  font-size: 24px;
  line-height: 0px;
}

.TimerTitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.TimeDisplay{
  border: 3px solid white;
  border-radius: 50px;
  font-family: digital;
  font-size: 80px;
  padding-right: 32px;
  padding-left: 32px;
  line-height: 40px;
  position: relative;

}

.startpause{
  font-family: 'Montserrat', sans-serif;
   padding-bottom: 32px;
}

body, html {
  background: #282c34;
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
